
/*HEADER*/
.header {
    background-color: #121629;  
    height: 80px; 
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    
 
    .header-logo{
        margin: -5px 20px; 

        img {
            height : 70px;
            width : 70px;
        }
    }

    .header-list{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: -5px;
        margin-bottom: 5px;
        margin-right: 20px;

        a{
            text-decoration: none;
            background-color: beige;
            border-radius: 20px;
            display: flex;
            margin:20px 20px;
            align-items: center;
            padding:5px 5px ;
            color:black;
        }
    }
}

/*KONTEN*/
.konten{
    font-size: 80px;
    text-align: center;
}

/*FOOTER*/
.footer{
    background-color: #121629;


    h3{
        text-align: center;
    }
    .socmed{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    img{
        border-radius: 5px;
        height : 50px;
        width : 50px;
    }
    p{
        text-align: center;
    }
}