
/*HEADER*/
.header {
    background-color: #b8c1ec;  
    height: 80px; 
    display: flex;
    flex-direction: row;
    justify-content : space-between;
    
 
    .header-logo{
        margin: -5px 20px; 

        img {
            height : 70px;
            width : 70px;
        }
    }

    .header-list{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: -5px;
        margin-bottom: 5px;

        a{
            text-decoration: none;
            background-color: beige;
            border-radius: 20px;
            display: flex;
            margin:20px 20px;
            align-items: center;
            padding:5px 5px ;
            box-shadow: 0px 5px rgb(148, 147, 147);
            cursor: pointer;
        }
        a:active{
            box-shadow: none;
            top: 5px;
            position: relative;
        }


    }
}

/*KONTEN*/
.konten{
    font-size: 80px;
    text-align: center;
}

/*FOOTER*/
.footer{
    background-color: #b8c1ec;


    h3{
        text-align: center;
    }
    .socmed{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px;
    }
    img{
        border-radius: 5px;
        height : 50px;
        width : 50px;
    }
    p{
        text-align: center;
    }
}