@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


$font1:'Roboto Condensed', 'sans-serif';
$font2:'Montserrat', 'sans-serif';

.header-list{
    .sub-judul{
        font-family: $font1;
        font-size: 16px;
        font-weight: bold;
    }
}

.footer{

    .sub-judul{
        font-family: $font1;
        font-size: 22px;
    }

    .txt{
        font-family: $font2;
        font-weight: bold;
        font-size: 12px;
        color: white;
        background-color: black;
    }
}