@use 'variables' as *;

@mixin tes{
    display: flex;
    margin-inline-start: 10%;
    margin-inline-end: 10%;
    justify-content: center;
}

@mixin padding($padding-size) {
    padding-top: 50px;
    padding-bottom: 50px;    
}

@mixin page1-content {
    width: 60%;
    height: auto;
}

*{
    margin: 0;
}

body{
    background-color: $background;
}

main{
    img{
        height: 350px;
        width: auto;
    }
}



.container{
    flex-direction: column;
    @include page1-content;
    .judul{
        margin-bottom: 25px;

    }
}


main{
    justify-content: center;
}

.logo{
    display: flex;
    justify-content: center;
}

.jumbotron{
    @include padding(90px);
    .jumbotron-judul{
        .judul{
            @include padding(5px);
        }

        .subjudul{
            @include padding(10px);
        }
    }
}

.content-penjelasan-ekskul{
    @include tes;
    @include padding(200px);
}

.content-divisi{
    display: flex;
    justify-content: center;
    @include tes;
}

.txt{
    height: auto;
    text-align: center;
}

.content-divisi{
    @include padding(50px);
    flex-direction: column;
    img{
        height: auto;
        width: 300px;
    }

    h1{
        margin-bottom: 30px
    }

    .content-divisi-developer{

        .p{
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .judul{
            margin-bottom: 30px;
        }
    }

    .content-divisi-designer{
        
        .p{
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .judul{
            margin-bottom: 30px;
        }
    }
}
.pembatas{
    width:80%;
    margin: auto;
}

@media only screen and (max-width: 700px) {       
    .container{
        flex-direction: column;
        width: 90%;
        height: auto;
    }
}