@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "variables";

main{
    h1, h2, p{
        text-align: center;
    }

    h1{
        color: $judul-color;
        font-size: $judul-font-size;
    }

    h2{
        color: $judul-color;
        font-size: $subjudul-font-size;
    }

    h1, h2{
        font-family: 'Roboto Condensed', sans-serif;
    }

    p{
        font-family: 'Montserrat', sans-serif;
        color: $text-color;
        font-size: $text-font-size;
    }
}
