@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


$font1:'Roboto Condensed', 'sans-serif';
$font2:'Monsterrat', 'sans-serif';

.header-list{
    .sub-judul{
        font-family: $font1;
        font-size: 16px;
        font-weight: bold;
    }
}

.footer{
    h3{
        font-family: $font1;
        font-size: 20px;
    }
    p{
        font-family: $font2;
        font-weight: bold;
        font-size: 16px;
    }
}