@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

$font1:'Roboto Condensed', 'sans-serif';
$font2:'Monsterrat', 'sans-serif';

.header-list{
    .sub-judul{
        font-family: $font1;
        font-size: 16px;
    }
}