@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body    {
    text-align: center;
    background-color: #232946;  
    
}
h1      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 40px;
}   
a       {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    text-decoration: none;
}
h2      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}
h3      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}
h4      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}

.judul{
    margin-top: 50px;
    margin-bottom: 50px;
}
.Aidan img {
    width: 300px;
    height: auto;
    border-radius: 20px;
}
.Defta img{
    width: 300px;
    height: auto;
    border-radius: 20px;
}
.Narda img{
    width: 300px;
    height: auto;
    border-radius: 20px;
}

.Aidan{
    margin-bottom: 50px;
}
.Defta{
    margin-bottom: 50px;
}
.Narda{
    margin-bottom: 50px;
}