@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

body    {
    text-align: center;
    background-color: #232946;  
}
h1      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 40px;
}   
a       {
    font-family: 'Roboto Condensed', sans-serif;
    color: #b8c1ec;
}
h2      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}
h3      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}
h4      {
    font-family: 'Roboto Condensed', sans-serif;
    color: #fffffe;
    font-size: 25px;
}


